.sidebarContent{
	margin: 4% 8% auto 13%;
}

#basicInfo > div > h3{
	padding-bottom:10px;
}

#basicInfo > div > div{
	padding-left:30px;
	width:40%;
}

#basicInfo input{
	height:40px;
}

#safetyInfo > div > h3{
	padding-bottom:10px;
}


#safetyInfo > div > div{
	padding-left:30px;
	width:40%;
}

#safetyInfo form{
	height:40px;
}

#safetyInfo button{
	width:50px;
	height:30px;
	float:right;
	padding-bottom:10px;
}

#safetyInfo > div > div > form > span{
	font-size:18px;
}



.divide-line{
	margin-top:10px;
	margin-bottom:20px;
	height: 1px;
	border-top: 1px solid #ddd;
	text-align: center;
}

.sidebarUl{
	position:fixed;
	width:8%;
	margin-left:1%;
}

.sidebarUl > li{
	font-size:16px;
}

.sidebarUl > li > a{

	color:#000;
}

/*for checking if the password is strong or not */
.pwd{
	width:40px;
	height:20px;
	line-height:14px;
	padding-top:2px;
}

.pwd_f{
	color:#BBBBBB;
}

.pwd_c{
	background-color:#F3F3F3;
	border-top:1px solid #D0D0D0;
	border-bottom:1px solid #D0D0D0;
	border-left:1px solid #D0D0D0;
}

.pwd_Weak_c{
	background-color:#FF4545;
	border-top:1px solid #BB2B2B;
	border-bottom:1px solid #BB2B2B;
	border-left:1px solid #BB2B2B;
}

.pwd_Medium_c{
	background-color:#FFD35E;
	border-top:1px solid #E9AE10;
	border-bottom:1px solid #E9AE10;
	border-left:1px solid #E9AE10;
}

.pwd_Strong_c{
	background-color:#3ABB1C;
	border-top:1px solid #267A12;
	border-bottom:1px solid #267A12;
	border-left:1px solid #267A12;
}

.pwd_c_r{
	border-right:1px solid #D0D0D0;
}

.pwd_Weak_c_r{
	border-right:1px solid #BB2B2B;
}

.pwd_Medium_c_r{
	border-right:1px solid #E9AE10;
}

.pwd_Strong_c_r{
	border-right:1px solid #267A12;
}